/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.btnMenu{
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 5;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-pref-width: 150px;
    -fx-alignment: CENTER_LEFT;
    -fx-background-radius: 25px;
}

.btnFocused{
    -fx-background-color: #F5BA3D;
    -fx-padding: 2 0 2 5;
    -fx-pref-width: 150px;
    -fx-text-align: left;
    -fx-background-radius: 5px;
}

.btnLogout{
    -fx-background-radius: 25px;
    -fx-background-image: url(../img/user.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50px 50px;
    -fx-padding: 5;
}

.borders{
    -fx-background-color: #FFF5E2;
}

.labelMenu{
    -fx-font-weight: bolder;
}

.centralMenu{
    -fx-pref-width: 130px;
    -fx-pref-height: 130px;
    -fx-text-align: center;
    -fx-font-color: red;
    -fx-font-weight: bold;
}

.verticalBorder{
    -fx-pref-width: 10%;
}