/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.withBorder{
    -fx-border-color:#4A98FF;
    -fx-border-radius:10;
    -fx-border-width:2;
}

.title{
    -fx-font-weight:bold;
}

.invoice{
    -fx-background-color: white;
}
